{% extends 'InventaDespesasBundle::single.html.twig' %}

{% block singlecontent %}
  <h1>Editar Transacção</h1>

    {{ form_start(edit_form) }}

    <a href="{{ path('transactions') }}"><button type="button" class="btn btn-primary">Voltar</button></a>   
    {{ form_errors(edit_form) }}
    <p>{{ form_row(edit_form.amount)}}</p>
    <p>{{ form_row(edit_form.status)}}</p>
    <p>{{ form_row(edit_form.supplier_id)}}</p>
    <p>{{ form_row(edit_form.currency)}}</p>
    <p>{{ form_row(edit_form.type)}}</p>
 

    <p class="col-md-1"> {{ form_widget(edit_form.submit, {'label':'Update' , 'attr': {'class': 'btn btn-primary pull-right'}}) }} 
        {{ form_end(edit_form) }}                     
        {{ form(delete_form) }}</p>
{% endblock %}
