{% extends '::base.html.twig' %}

{% block body %}
    <html>

        <head>
            <title>Inventa</title>

            <!--CSS-->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">

            <!--JQuery-->
            <script type="text/javascript" charset="utf-8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

            <!-- DataTables -->
            <script type="text/javascript" charset="utf-8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
            <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('#expensestable').dataTable();
                });
            </script>
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
            <!--JS-->
            <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>


        </head>
        <body>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar">
                        <h1>Transação</h1>
                        <p>Nº: {{ transaction.id }}</p>
                        <p>Fornecedor: {{ transaction.getSupplierId.getName }}</p>
                        <p>Saldo:{{ transaction.amount }}{{transaction.getCurrency.getSuffix}}</p>

                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <h1>Pagar Despesas</h1> 
                        <p><button type="button" class="btn btn-primary" onClick="goBack()">Voltar</button></p>

                        <table id="expensestable" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nº</th>
                                    <th>Fornecedores</th>
                                    <th>Pago</th>
                                    <th>Estado</th>
                                    <th>País</th>
                                    <th>Moeda</th>
                                    <th>Total</th>
                                    <th>Divida</th>
                                    <th>Categoria</th>
                                    <th>Data Factura</th>
                                    <th>Compania</th>
                                    <th>Actions</th>              
                                </tr>
                            </thead>
                            <tbody data-link="row" class="rowlink">
                                {% for entity in entities %}
                                    <tr>
                                        <td class="rowlink-skip"><a href="{{ path('expenses_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> 
                                        <td class="rowlink-skip"><a href="{{ path('suppliers_show', { 'id': entity.getSupplierId.getId }) }}">{{ entity.getSupplierId.getName }}</td>
                                        <td>{{ entity.sePaid }}</td>
                                        <td>{{ entity.status }}</td>
                                        <td>{{ entity.countries }}</td>
                                        <td>{{ entity.currency }}</td>
                                        <td>{{ entity.getTotal}}{{entity.getCurrency.getprefix}}</td>
                                        <td>{{ entity.getOwedValue}}{{entity.getCurrency.getprefix}}</td>
                                        <td>{{ entity.getCategoriesId.getName }}</td>
                                        <td>{{ entity.getDateBilledString }}</td>
                                        <td>{{ entity.getCompanyId.getName }}</td>
                                        <td>

                                            <a href="{{ path('transaction_paid',{'transaction_id':transaction.id, 'expenses_id':entity.id , 'currency':entity.currency}) }}("><button class="btn btn-primary">Pagar</button></a>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 

                </div>
            </div>
        </body>
    </html>

{% endblock %}