<table id="expensestable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nº</th>
            <th>Fornecedores</th>
            <th>Pago</th>
            <th>País</th>
            <th>Moeda</th>
            <th>Total</th>
            <th>Divida</th>
            <th>Categoria</th>
            <th>Data Factura</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th> 
                {% endif %}

        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
        {% for entity in entities %}
            <tr>
                <td class="rowlink-skip"><a href="{{ path('expenses_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> 
                <td class="rowlink-skip"><a href="{{ path('suppliers_show', { 'id': entity.getSupplierId.getId }) }}">{{ entity.getSupplierId.getName }}</a></td>
                <td>{{ entity.sePaid }}</td>
                <td>{{ entity.countries }}</td>
                <td>{{ entity.currency }}</td>
                <td>{{ entity.getTotal}}{{entity.getCurrency.getprefix}}</td>
                <td>{{ entity.getOwedValue}}{{entity.getCurrency.getprefix}}</td>
                <td>{{ entity.getCategoriesId.getName }}</td>
                <td>{{ entity.getDateBilledString }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('expenses_edit', { 'id': entity.id }) }}"><button class="btn btn-primary">Editar</button></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
